.dashboard {
    background-color: #ffffff71;
    min-height: 50vh;
    display: flex;
    margin: 10px;
    padding: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
  }

.dashboard-name {
    font-weight: bold;
    font-size: 16px;
}

.dashboard-current-score {
    font-weight: bold; 
    font-size: 16px;
    padding: 10px;
}

.feedback {
    list-style: none;
    padding: 5px;
    font-size: 16px;
}

.mastered-label {
    padding: 5px;
    font-weight: bold;
}

.userAnswerForm {
    display: flex;
    flex-direction: column;
}

.userAnswerForm label {
    font-size: 14px;
    padding: 2px;
}

.userAnswerForm button {
    padding: 10px 15px;
}

.display-words {
    font-size: 22px;
}

#correct-response {
    font-style: italic;
    font-size: 14px;
    padding-top: 0px;
}

