.current-question {
    padding: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 75px;
    padding-bottom: 75px;
    margin: 15px;
    border: 1px solid black;
    opacity: .7;
}