.header-bar {
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

.header-bar-ul {
    display: contents;
    list-style: none;
    border: 1px solid #cafff3;
    color:  #4e6e67;
    padding-bottom: 0px;
} 

.header-bar-user {
    font-size: 14px;
    padding-top: 0px;
    font-weight: bold;
}

.header-bar-button {
    margin: 10px;
    box-align: center;
}
