.landing-page {
    background-color: #bdb7b757;

    color: rgb(0, 0, 0);
  }

  .landing-h2 {
      padding: 0px;
      margin: 5px;
  }

  .landing-h4-sub {
    padding: 0px;
    margin: 5px;
    font-style: italic;
  }

  .about {
    color: rgba(18, 80, 61, 0.897);
    letter-spacing: 1px;
  }

  .landing-h4-main {
    padding: 5px;
    margin: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  /* .header-bar {
    visibility: hidden;
  } */

  .landing-register {
    margin: 5px;
  }

  .header-h1 {
    color: rgb(18, 80, 61);
    font-size: 52px;
    letter-spacing: 5px;
  }


